@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/Raleway_Light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/Raleway.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/OpenSans_SemiBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans_Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
* {
  margin: 0;
  outline: none;
  padding: 0; }

html {
  background-color: white;
  font-family: "Open Sans", sans-serif; }

.hr {
  border-top: solid 2px white;
  height: 0;
  margin: 28px auto;
  width: 64px; }

.testimonials {
  background-color: white;
  margin: 0 auto;
  max-width: 1400px;
  padding: 100px 0;
  width: 100%; }
  .testimonials h1 {
    color: #212121;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase; }
  .testimonials h3 {
    color: #86878b;
    font-size: 14px;
    font-weight: normal;
    text-align: center; }
  .testimonials__quotations {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: calc(100% - 220px);
    width: -webkit-calc(100% - 220px); }
  .testimonials__quotation {
    display: inline-block;
    padding: 0 60px;
    width: calc(33.33% - 120px);
    width: -webkit-calc(33.33% - 120px); }
  .testimonials__text {
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #86878b;
    font-size: 13px;
    font-style: italic;
    padding: 20px 10px;
    position: relative;
    text-align: left; }
  .testimonials__text::after {
    background-color: #f5f5f5;
    bottom: -5px;
    content: "";
    display: block;
    height: 20px;
    left: 24px;
    position: absolute;
    -webkit-transform: scaleY(1.5) rotate(45deg);
    -moz-transform: scaleY(1.5) rotate(45deg);
    transform: scaleY(1.5) rotate(45deg);
    width: 20px; }
  .testimonials__info {
    padding: 25px 0 0 88px;
    position: relative;
    text-align: left; }
  .testimonials__avatar {
    background: transparent url("../img/avatar.png") no-repeat scroll center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 70px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 70px; }
  .testimonials__name {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px; }
  .testimonials__position {
    color: #86878b;
    font-size: 15px; }

.hr--orange {
  border-top-color: #ff8b38; }

.custom {
  background: #5a4931 url("../img/custom__background.jpg") no-repeat scroll center;
  background-size: cover;
  color: white;
  padding: 70px 0 60px;
  width: 100%; }
  .custom h1 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase; }
  .custom__text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
    text-align: center; }
  .custom__download {
    border: solid 2px white;
    color: white;
    display: block;
    font-weight: 600;
    height: 38px;
    line-height: 38px;
    margin: 32px auto 0;
    text-align: center;
    text-decoration: none;
    width: 131px; }

/*# sourceMappingURL=main.css.map */
