.custom
  background: #5a4931 url('../img/custom__background.jpg') no-repeat scroll center
  background-size: cover
  color: white
  padding: 70px 0 60px
  width: 100%
  h1
    color: white
    font-family: $font-title
    font-size: $font-title-size
    font-weight: normal
    text-align: center
    text-transform: uppercase
  &__text
    font-family: $font-title
    font-size: 16px
    font-weight: 300
    opacity: 0.8
    text-align: center
  &__download
    border: solid 2px white
    color: white
    display: block
    font-weight: 600
    height: 38px
    line-height: 38px
    margin: 32px auto 0
    text-align: center
    text-decoration: none
    width: 131px