=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

=transform($transformation)
  -webkit-transform: $transformation
  -moz-transform: $transformation
  transform: $transformation