.testimonials
  background-color: white
  margin: 0 auto
  max-width: 1400px
  padding: 100px 0
  width: 100%
  h1
    color: #212121
    font-family: $font-title
    font-size: $font-title-size
    font-weight: normal
    text-align: center
    text-transform: uppercase
  h3
    color: $text-color
    font-size: 14px
    font-weight: normal
    text-align: center
  &__quotations
    margin: 0 auto
    padding-top: 50px
    text-align: center
    width: calc(100% - 220px)
    width: -webkit-calc(100% - 220px)
  &__quotation
    display: inline-block
    padding: 0 60px
    width: calc(33.33% - 120px)
    width: -webkit-calc(33.33% - 120px)
  &__text
    background-color: $testimonial-background
    +border-radius(5px)
    color: $text-color
    font-size: 13px
    font-style: italic
    padding: 20px 10px
    position: relative
    text-align: left
  &__text::after
    background-color: $testimonial-background
    bottom: -5px
    content: ''
    display: block
    height: 20px
    left: 24px
    position: absolute
    +transform(scaleY(1.5) rotate(45deg))
    width: 20px
  &__info
    padding: $people-info-padding-top 0 0 88px
    position: relative
    text-align: left
  &__avatar
    background: transparent url('../img/avatar.png') no-repeat scroll center
    +border-radius(100%)
    height: $avatar-size
    left: 0
    position: absolute
    top: $people-info-padding-top
    width: $avatar-size
  &__name
    color: #333333
    font-size: 20px
    font-weight: bold
    padding-top: 12px
  &__position
    color: $text-color
    font-size: 15px
.hr--orange
  border-top-color: #ff8b38