@import fonts
@import variables
@import mixins

*
  margin: 0
  outline: none
  padding: 0
html
  background-color: white
  font-family: $font-text
.hr
  border-top: solid 2px white
  height: 0
  margin: 28px auto
  width: 64px

@import testimonials
@import custom